In [2]:
import pandas as pd
import datetime 
import numpy as np
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_excel('Revenue Report for Parcel Force.xlsx')
df

          Date  Revenue   Orders  Day Month  year
0   2019-01-01      8091     432  Tue   Jan  2019
1   2019-01-02     26898    1510  Wed   Jan  2019
2   2019-01-03     26131    1379  Thu   Jan  2019
3   2019-01-04     19428    1079  Fri   Jan  2019
4   2019-01-05      8921     459  Sat   Jan  2019
..         ...       ...     ...  ...   ...   ...
542 2020-06-26         0       0  Fri   Jun  2020
543 2020-06-27         0       0  Sat   Jun  2020
544 2020-06-28         0       0  Sun   Jun  2020
545 2020-06-29         0       0  Mon   Jun  2020
546 2020-06-30         0       0  Tue   Jun  2020

[547 rows x 6 columns]